.center {
    max-width: 1500px;
    background-color: antiquewhite;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 18px;
    width: 100%;
    z-index: 99;
}
.logo {
    width: 200px;
    height: 100px;
    object-fit: cover;
}
.nav-ul {
    display: flex;
}
.nav-li {
    margin-right: 30px;
    background-color: cadetblue;
    font-size: 30px;
}
.nav-li a {
    color: cornsilk;
}
.container {
    margin-top: 120px;
}
.Cover {
    width: 100%;
}
.boxes {
    background-color: darkblue;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    background-color: darkgray;
    width: 30%;
    height: 200px;
    position: relative;
}
.box-child {
    width: 40px;
    height: 30px;
    background-color: darkolivegreen;
}
.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sticky {
    position: sticky;
    top: 125px;
    right: 5px;
    z-index: 9;
}
.images {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.imagesDivs {
    margin: 5px;
    padding: 5px;
    background-color: darksalmon;
}
.positionImages {
    position: relative;
}
.positionImage {
    width: 100%;
}
.positionText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.backgroundImages {
    background-image: url(../imgs/bird.jpeg);
}